.classpath
.project
.settings
*~
target
test-output
.idea
*iml
.gradle
build
out
.kotlintest
localRepo
kotlin-js-store/
.kotlin
.DS_Store
# to run the tests put your API KEY in here under the opencageApiKey and DONOT commit this
local.properties